{% extends "ticketing/base_page.html" %}
{% block title %}
فهرست فیلم‌ها
{% endblock %}
{% block toolbar_title %}
فهرست فیلم‌ها
{% endblock %}
{% block toolbar_buttons %}
<a class="btn btn-light py-1 px-2" href="{% url "movie_list" %}">
    <i class="fas fa-film"></i>
    فیلم‌ها
</a>
<a class="btn btn-light py-1 px-2" href="{% url "cinema_list" %}">
    <i class="fas fa-building"></i>
    سینماها
</a>
{% endblock %}
{% block main_content%}
<div class="row">
    <div class="col py-3">
        {% if movies %}
            <ul class="item-list">
                {% for movie in movies %}
                    <li>
                        <a href="{% url "movie_details" movie_id=movie.id %}">
                            <i class="fas fa-film"></i>
                            {{ movie }}
                            <small class="text-muted">
                                ({{ movie.director }})
                            </small>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="alert alert-danger">
                در حال حاضر هیچ فیلمی برای نمایش وجود ندارد.
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}